language: python
sudo: false
python:
  - "2.7"
  - "3.4"
  - "3.5"
services:
  - mongodb
  - elasticsearch
# Apply only on main branches
branches:
  except:
    - /^feature.*$/
# command to install dependencies
#before_install:
#  - "sudo apt-get update -qq"
#  - "sudo apt-get install -qq libldap2-dev libsasl2-dev"
install:
  - "pip install coverage"
  - "pip install python-coveralls"
  - "python setup.py -q install"
#  - "echo data_file=$TRAVIS_BUILD_DIR/.coverage >> .coveragerc"
# command to run tests
before_script:
  - sleep 10
#script: nosetests --with-coverage --cover-package=biomaj -a '!network'
#script: nosetests --with-coverage --cover-package=biomaj
script: nosetests
#after_success:
#  - coveralls

