biomaj_core>=3.0.24
biomaj_user
biomaj_download>=3.2.1
biomaj_process>=3.0.12
biomaj_cli
mock
pytest
pymongo==4.6.3
pycurl
tabulate
py-bcrypt
drmaa
elasticsearch
requests
redis
influxdb
Yapsy==1.12.2
Jinja2
packaging
